name: Keep draw.io png synchronized

on:
  push:
    branches:
      - main
    paths:
      - "**.drawio"
      - .github/workflows/drawio-png-sync.yml

jobs:
  export-drawio:
    runs-on: ubuntu-latest
 
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
 
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
 
      - name: Install drawio-batch
        run: |
          pip install drawio-batch
 
      - name: Export .drawio to PNG
        run: |
          drawio-batch -f png ./database/src/m306_erd.drawio
 
      - name: Upload PNG artifact
        uses: actions/upload-artifact@v3
        with:
          name: diagram
          path: ./database/src/m306_erd.png

      - name: Auto Commit Changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "docs: drawio png sync"
          file_pattern: "**.png"
          commit_user_name: "github-actions[bot]"