name: Keep draw.io png synchronized

on:
  push:
    # branches:
    #   - main 
    paths:
      - "**.drawio"
      - .github/workflows/drawio-png-sync.yml

jobs:
  export-drawio:
    runs-on: windows-latest
    permissions:
      contents: write 

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install draw.io
        run: |
          choco install drawio-desktop -y
      
      - name: Export draw.io diagrams to PNG
        run: |
          $DIR_DRAWIO = "."
          $DrawIoFiles = Get-ChildItem $DIR_DRAWIO *.drawio -File -Recurse
          foreach ($file in $DrawIoFiles) {
            & "C:\Program Files\draw.io\draw.io.exe" --export --format png --uncompressed $file.FullName
          }

      - name: Auto Commit Changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "docs: Auto-export draw.io diagrams to PNG"
          file_pattern: "*.png"
          commit_user_name: "github-actions[bot]"