name: Keep draw.io png synchronized

on:
  push:
    branches:
      - main
    paths:
      - "**.drawio"
      - .github/workflows/drawio-png-sync.yml

concurrency:
  group: drawio-export-${{ github.ref }}
  cancel-in-progress: true

jobs:
  drawio-export:
    name: "Drawio PNG Sync"
    runs-on: ubuntu-latest
    permissions: # granular permissions
      # so GitHub can check out this repo using the default github.token
      contents: write
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Export drawio files to png files (database)
        uses: rlespinasse/drawio-export-action@v2
        with:
          path: ./database/src/m306_erd.drawio
          uncompressed: true
          format: png
          transparent: true
          remove-page-suffix: true

      - name: Export drawio files to png files (infra)
        uses: rlespinasse/drawio-export-action@v2
        with:
          path: ./infra/src/ 
          uncompressed: true
          format: png
          transparent: true
          remove-page-suffix: true

      - name: Auto Commit Changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "docs: drawio png sync"
          file_pattern: "**.png"
          commit_user_name: "github-actions[bot]"